<div class="center jumbotron">

  <h1>Welcome to use <%= Constant.app_name%> !</h1>

  <h3>
    The world is like a role-playing game..
  </h3>

  <% if !logged_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

